<body id="top">

<!-- ****************************** Preloader ************************** -->
<div id="preloader"></div>


<!-- ==========================
  HEADER SECTION 
  =========================== -->
  <header id="home">
  <!-- creative menu -->
      <div class="container-fluid">
        <div class="row">
          <div class="menu-wrap">
  <nav class="menu">
      <!-- Menu Links -->
    <div class="icon-list">
      <ul class="nav-link-ul">
        <li class="nav-link-li"><a href="index.html#home"><i class="fa fa-fw fa-home"></i><span>Categories</span></a>
        <ul class="hide-link">
          <li class="hide-sublink"><a href="#">Food</a></li>
          <li class="hide-sublink"><a>Fashion</a>
            <ul class="sub-hide-link" class="sub-hide-link">
              <li class="subsublink"><a href="<%= fashion_women_articles_path %>">Women</a></li>
              <li class="subsublink"><a href="<%= fashion_men_articles_path %>">Men</a></li>
            </ul>
            </li>
        </ul>
        </li>
      </ul>
    </div>
  </nav>
    </div>
    <button class="menu-button" id="open-button"></button><!-- menu button -->
        </div><!--/row-->
      </div><!--/container-->
<!-- Header Image -->
    <section class="hero" id="hero">
      <div class="container">

<!-- HEADER HEADLINE -->
<div class="row" id="main-section">
  <div class="col-md-7">
    <h1 class="animated fadeInDown">
      T<span style="color:#E04343;">r</span>en<span style="color:#E04343;">d</span><br/>
      <span>R<span style="color:#FFE800">e</span>p</span><span style="color:#FFE800">o</span>r<span style="color:#FFE800">t</span>
    </h1><!-- Title -->
    <h3 class="animated fadeInUp delay-05s"><span class="rotate">Keep up with your favourite trends</span></h3><!-- Text Rotator -->
  </div>

<!-- SIGN UP FORM SECTION (invisible when sign in form is visible) -->
<div class="col-md-5 contact" id="sign-up-form">
  <h4>SIGN UP & SAVE YOUR FAVES</h4>
  <%= form_for @user do |f| %>

    <div class="form-group">
        <%= f.text_field :fname, class: "form-control", placeholder: "First Name" %>
    </div>
    <div class="form-group">
        <%= f.text_field :lname, class: "form-control", placeholder: "Last Name" %>
    </div>
    <div class="form-group">
        <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>
    <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    </div>
    <div class="form-group">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
    </div>
    <label><a href="#" id="log-in-click"><h4>Log in to your account</h4></a></label>
    <%= f.submit "Sign Up", class: "btn btn-send" %>

    <% if @user.errors.any? %>
      <div>
        We couln't create an account for you because:
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <% end %>
  <!-- put message here re successful sign up -->
</div>

<!-- SIGN UP FORM END -->

<!-- SIGN IN FORM SECTION (invisible when sign up form is visible) -->

<div class="col-md-5 contact hide-form" id="sign-in-form">
  <h4>LOG IN TO SEE YOUR TRENDS</h4>
  <%= form_tag sessions_path,  { class: 'form-group' } do %>
    <div>
      <%= text_field_tag :email, "", { class: "form-control", placeholder: "Email"} %>
    </div> <br />
    <div>
      <%= password_field_tag :password, "", { class: "form-control", placeholder: "Password"} %>
    </div> <br />
    <label><a href="#" id="sign-up-click"><h4>Sign up for an account</h4></a></label>
    <%= submit_tag "Log In", class: "btn btn-send" %>
  <% end %>
</div>

<!-- SIGN IN FORM END -->

      </div>
    </div>
  </section>
<!-- Header Image End -->
</header>
<!-- ==========================
HEADER SECTION END  
=========================== -->


<!-- ==========================
FOOTER SECTION
=========================== -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Theme by <a href="http://www.themewagon.com" target="blank">ThemeWagon</a>
      </div>
    </div>
  </div>
</footer>
<!-- ==========================
FOOTER SECTION END
=========================== -->   