<%= render "nav_bar" %>
<h1>Articles</h1>
<%= stylesheet_link_tag 'fashion-article' %>
<%= render "nav_bar" %>
<h1>Articles</h1>
<div class="article"> 
<% if @article.category == "mfashion" @article.each  do |article| %>
<p><%= article.title %></p>
<p> <a href="<%= article.url %>" target="blank"> <%= article.source %></a></p>
<img src="<%=article.image%>"/>
</div>
<% end %>